* {
    padding: 0;
    margin: 0;
}

.container {
    margin-left: 300px;
    margin-top: 120px;
}
input {
    text-align: center;
}

.f_layout {
    top: 168px;
    left: 302px;

    width: 1203px;
    height: 551px;
    
}
.s_layout {
    border-radius: 5px;
    position: absolute;
    top: 120px;
    right: 50px;
    width: 250px;
    height: 70vh;
    box-shadow: 0px 3px 7px 1px #0000003f;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
}

.s_layout > .menu > .title {
    color: gray;
    font-weight: 500;
}

.s_layout .menu {
    margin: 15px 0;
}

.s_layout .menu > *:last-child {
    color: #6E9EFF;
    font-weight: 500;
    font-size: 1.2em;
    padding: 8px 0;
    opacity: 0.8;
}
.s_layout .menu > p:last-child {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}
.s_layout ul {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}
.menu {
    border-radius: 5px;
    /* border: 1px solid #6e9eff2c; */
    /* box-shadow: 0px 3px 7px 1px #0000003f; */
    width: 100vw - 5px;
    padding: 15px;
    margin: 15px 0;
  }

  .info {
    margin-top: 70px;
  }